commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01_install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02_install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  03_artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
  04_cache_clear:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  05_config_clear:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"
  06_storage_permissions:
    command: "sudo chmod -R 777 ./storage/logs/ && sudo chmod -R 777 ./storage/framework/views/ && sudo chmod -R 777 ./bootstrap/cache/ && sudo chmod -R 777 ./storage/framework/sessions/"
    cwd: "/var/app/ondeck"